<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
<body>
    <%- include('nav.ejs') %>
    <section class="about_section" id="About">
        <div class="about_img">
            <img src="../static/images/qasim.jpeg" alt="">
        </div>
        <div class="about_details">
            <h1>About Me</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae ipsam voluptas perspiciatis voluptatum magnam fugit deleniti, dolorem rerum excepturi quasi! <br><br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore consectetur quidem animi at debitis.</p>
            <div class="btns">
                <a href="#" class="btn btn1">HIRE ME</a>
                <a href="#" class="btn btn2">DOWNLOAD CV</a>
            </div>
        </div>
    </section>
    <div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contact Us</h2>
				<input type="text" class="field" placeholder="Your Name">
				<input type="text" class="field" placeholder="Your Email">
				<input type="text" class="field" placeholder="Phone">
				<textarea placeholder="Message" class="field"></textarea>
				<button class="btn">Send</button>
			</div>
		</div>
	</div>
</body>
</html>
