<!DOCTYPE html>
<html>
<head>
<title>Error</title>
<%- include('head.ejs') %>
</head>
<body style = "background-color:powderblue;">
    <%- include('nav.ejs') %>
<h1 style="color: red;"><%=message%></h1>

</body>
</html>