<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
    <body style = "background-color:powderblue;">
        <%- include('nav.ejs') %>
        <div style="margin-top: 100px;"></div>
        <div style="height: 500px; width:500px; margin:0 auto;">
            <form method="post" action="/logout" >
                
                <div class="form-row">
                    <div class="form-group col-md-6"><button type="submit" class="btn btn-primary mb-2 bg-danger text-white">Logout</button></div>  
                </div>
                
            </form>
        </div>
        
    
    </body>

</html>